.service-slider-block {
    background-color: rgba(71, 143, 84, .8);
    .container {
        .top {
            display: flex;
            justify-content: space-between;
            padding: 0 0 1.5rem 0;
            .title {
                display: flex;
                align-items: center;
                gap: 2rem;
                color: #fff;
                font-size: 1.5rem;
                @media (max-width: 768px) {
                    justify-content: space-between;
                    width: 100%;
                }
                a {
                    color: #3f48cc;
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 600;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            .arrows {
                display: flex;
                gap: 10px;
                @media (max-width: 768px) {
                    display: none;
                }
                button:first-of-type {
                    padding-right: 10px;
                }
                button:last-of-type {
                    padding-left: 10px;
                }
                .service-prev, .service-next {
                    border: 1px solid #3a7545;
                    background-color: rgba(63, 72, 204, .3);
                    color: #3f48cc;
                    font-size: 1em;
                    font-weight: 200;
                    cursor: pointer;
                    border-radius: 50%;
                    width: 35px;
                    aspect-ratio: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .service-prev:hover, .service-next:hover {
                    background-color: rgba(63, 72, 204, .5);
                }
            }
        }
        .service-slider {
            margin: auto;
            .slick-dots {
                bottom: -45px;
                li {
                    button:before {
                        font-size: .5rem;
                    }
                }
            }
            .slide {
                background: linear-gradient(
                    to bottom,
                    rgba(2, 2, 2, 0.3) 0%,
                    rgba(0, 0, 0, 0.3) 100%
                );
                min-height: 200px;
                padding: 1rem 2rem;
                text-align: center;
                margin: 0 .3rem;
                color: white;
                border-radius: 5px;
                @media (max-width: 768px) {
                    min-height: 250px;
                }
                .service-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    .icon {
                        height: 40px;
                        padding: .5rem;
                        border: 1px solid #478f54;
                        border-radius: 50%;
                        img {
                            object-fit: contain;
                            height: 100%;
                        }
                    }
                    .text {
                        h2 {
                            text-transform: capitalize;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
        
    }
}