.service-slider-block {
    position: relative;
    background-color: #478f54cc;
    padding-bottom: 8rem;
    .flowerleft {
        background-image: url('../../../../images/components//purpleleft.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 20px;
        height: 100%;
        width: 140px;
        z-index: 10;
        @media (max-width: 1450px) and (max-height: 800px), (max-width: 1450px) {
            width: 120px;
        }
        @media (max-width: 1350px) and (max-height: 800px), (max-width: 1350px) {
            width: 100px;
        }
        @media (max-width: 1024px) and (max-height: 800px), (max-width: 1024px) {
            width: 80px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    .container {
        .admin-titles {
            color: #d5251e;
            text-shadow: 1px 1px 1px rgb(32, 32, 32);
            font-size: 2rem;
            text-shadow: 1px 1px 1px #202020;
            margin: 0 0 2rem;
            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }
        .empty {
            h1 {
                display: flex;
                justify-content: center;
                gap: .5rem;
                a {
                    color: #ffffff;
                    text-transform: uppercase;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0 1.5rem 0;
            border-top: 1px solid #d5251e;
            .title {
                display: flex;
                align-items: center;
                gap: 2rem;
                color: #fff;
                @media (max-width: 768px) {
                    justify-content: space-between;
                    width: 100%;
                }
                a {
                    color: #3f48cc;
                    text-decoration: none;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            .arrows {
                display: flex;
                gap: 10px;
                @media (max-width: 768px) {
                    display: none;
                }
                button:first-of-type {
                    padding-right: 10px;
                }
                button:last-of-type {
                    padding-left: 10px;
                }
                .service-prev, .service-next {
                    margin: 0;
                    border: 1px solid #3a7545;
                    background-color: #3f48cc4d;
                    color: #3f48cc;
                    font-size: 1em;
                    font-weight: 200;
                    cursor: pointer;
                    border-radius: 50%;
                    width: 35px;
                    aspect-ratio: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .service-prev:hover, .service-next:hover {
                    background-color: #3f48cc80;
                }
            }
        }
        .service-slider {
            margin: auto;
            .slick-dots {
                bottom: -45px;
                li {
                    button:before {
                        font-size: .5rem;
                    }
                }
            }
            .slide {
                background: linear-gradient(
                    to bottom,
                    #0202024d 0%,
                    #0000004d 100%
                );
                min-height: 200px;
                padding: 1rem 2rem;
                text-align: center;
                margin: 0 .3rem;
                color: #ffffff;
                border-radius: 5px;
                @media (max-width: 768px) {
                    min-height: 250px;
                }
                .service-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    .icon {
                        height: 40px;
                        padding: .5rem;
                        border: 1px solid #478f54;
                        border-radius: 50%;
                        img {
                            object-fit: contain;
                            height: 100%;
                        }
                    }
                    .text {
                        h2 {
                            text-transform: capitalize;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
        
    }
}