.page-services {
    .page-content {
        .services {
            .container {
                text-align: center;
                .all-services {
                    #confirmation-delete {
                        position: fixed;
                        top: 0; left: 0; bottom: 0; right: 0;
                        margin: auto;
                        display:none;
                        border-radius: 25px;
                        border: 4px solid rgb(255, 0, 0);
                        height: 200px;
                        width: 800px;
                        .content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 100%;
                            border-radius: 20px;
                            background-color:rgba(170, 0, 0, .6);
                            h2 {
                                font-size: 2rem;
                                font-weight: 900;
                            }
                            .buttons {
                                button {
                                    font-size: 1.2rem;
                                    font-weight: 600;
                                    padding: 1rem 3rem;
                                    border-radius: 5px;
                                }
                                button:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    #confirmation-update {
                        position: fixed;
                        top: 0; left: 0; bottom: 0; right: 0;
                        margin: auto;
                        display:none;
                        border-radius: 25px;
                        border: 4px solid rgb(255, 0, 0);
                        height: 200px;
                        width: 800px;
                        .content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 100%;
                            border-radius: 20px;
                            background-color:rgba(170, 0, 0, .6);
                            h2 {
                                font-size: 2rem;
                                font-weight: 900;
                            }
                            .buttons {
                                button {
                                    font-size: 1.2rem;
                                    font-weight: 600;
                                    padding: 1rem 3rem;
                                    border-radius: 5px;
                                }
                                button:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .form {
                        .alertMessage {
                            p {

                            }
                        }
                        .show_hide {
                            background-color: rgba(72, 48, 36, 0.5);
                            border-bottom: 1px solid rgba(72, 48, 36, 0.1);
                            padding: .5rem 0;
                            text-align: center;
                            #hide_add_form {
                                display:none;
                            }
                            button:hover {
                                cursor: pointer;
                            }
                        }
                        #new_service {
                            display: none;
                            width: fit-content;
                            margin: 2rem auto;
                            .new_service {
                                margin-bottom: 1rem;
                                tr {
                                    th {
                                        font-size: 1.5rem;
                                        font-weight: 600;
                                    }
                                    td {
                                        
                                    }
                                    .service_description {
                                        height: 2rem;
                                    }
                                }
                            }
                        }
                    }
                    h3 {

                    }
                    table {
                        tr {
                            th {

                            }
                            td {

                            }
                            .buttons {
                                display: flex;
                                gap: 1rem;
                                .update {
                                    button {
                                        background-color: rgb(253, 156, 29);
                                        padding: .5rem;
                                        border-radius: 10px;
                                        border: none;
                                        color: white;
                                        font-weight: 600;
                                        cursor: pointer;
                                    }
                                    button:hover {
                                        background-color: rgb(216, 126, 8);
                                    }
                                }
                                .delete {
                                    button {
                                        background-color: rgb(221, 0, 0);
                                        padding: .5rem 1rem;
                                        border-radius: 10px;
                                        border: none;
                                        color: white;
                                        font-weight: 600;
                                        cursor: pointer;
                                    }
                                    button:hover {
                                        // background-color: darken($color: #000000, $amount: 0);
                                        background-color: rgb(194, 3, 3);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}