.gallery {
    .container {
        .empty {
            color: black;
        }
        /* MARK: Image Grid
        */
        .images {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            column-gap: 1rem;
            row-gap: 1.5rem;
            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            /* MARK: image/text
            */
            .image-card {
                background-color: #ccd6bc;
                border: 2px solid #565a4d;
                border-radius: 97% 3% 97% 3% / 3% 97% 3% 97%;
                height: 100%;
                overflow: hidden;
                /* MARK: image
                */
                .image {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    margin: 1rem;
                    height: 300px;
                    @media (max-width: 450px)  and (max-height: 800px), (max-width: 450px) {
                        height: 200px;
                    }
                }
                /* MARK: text
                */
                .text {
                    background: linear-gradient(
                        to bottom,
                        #f1deb1 0%, 
                        #f1e4c4 10%, 
                        #f8efd6 35%, 
                        #f8f0df 50%, 
                        #f8f5ee 70%, 
                        #ffffff 90%, 
                        #ffffff 100%
                    );
                    padding: 1rem;
                    text-align: center;
                    border-top: 1px solid #565a4d;
                    height: 100%;
                    @media (max-width: 450px) {
                        padding: .8rem;
                    }
                    h3 {
                        @media (max-width: 450px) {
                            font-size: 1rem;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}