.extraone {
    position: relative;
    padding: 0;
    .flowerleft {
        background-image: url('../../../../Images/backgrounds/purpleflowerleft.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: -120px;
        height: 300px;
        width: 140px;
        @media (max-width: 1024px) {
            height: 240px;
            width: 110px;
        }
        @media (max-width: 800px) {
            top: -90px;
            height: 180px;
            width: 80px;
        }
        @media (max-width: 380px) {
            top: -70px;
            height: 160px;
            width: 70px;
        }
    }
    .flowerright {
        background-image: url('../../../../Images/backgrounds/purpleflowerright.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        bottom: -120px;
        height: 300px;
        width: 140px;
        @media (max-width: 1024px) {
            bottom: -100px;
            height: 240px;
            width: 110px;
        }
        @media (max-width: 800px) {
            bottom: -70px;
            height: 180px;
            width: 80px;
        }
        @media (max-width: 380px) {
            bottom: -60px;
            height: 160px;
            width: 70px;
        }
    }
    /* if extra_visibility is set to 'yes' or 'choose' in db table */
    /* - add this class and show div */
    .displayblock {
        display: block;
    }
    /* if extra_visibility is set to 'no' in db table */
    /* - add this class and do not show div */
    .displaynone {
        display: none;
    }
    .container {
        .extra-content {
            padding: 2rem 0;
            border-top: 2px dotted rgb(139, 129, 103);
            border-bottom: 2px dotted rgb(139, 129, 103);
            .extra-text {
                height: fit-content;
                h2 {
                    @media (max-width: 450px) {
                        font-size: 1.5rem;
                    }
                }
                h3 {
                    @media (max-width: 450px) {
                        font-size: 1.2rem;
                    }
                }
            }
            /* if extra_image is not inserted into db table */
            /* - add this class and display as block */
            .extra-image-nogrid {
                display: block;
                .extra-image {
                    height: 0;
                }
            }
            /* if extra_image is inserted into db table */
            /* - add this class and display in grid */
            .extra-image-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                @media (max-width: 800px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr;
                }
                .extra-image {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @media (max-width: 800px) {
                        height: 400px;
                    }
                    @media (max-width: 450px) {
                        height: 300px;
                    }
                }
            }
        }
    }
}