.info {
    background-color: #478f54;
    text-align: center;
    color: #fff;
    .container {
        h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            @media (max-width: 1024px) {
                font-size: 2rem;
            }
            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }
        p {
            font-size: 1.5rem;
            @media (max-width: 1024px) {
                font-size: 1.3rem;
            }
        }
    }
}