.info {
    font-weight: 600;
    text-align: center;
    padding: 6rem 0;
    text-shadow: 1px 1px 1px rgb(32, 32, 32);
    @media (max-height: 800px) {
        padding: 4rem 0;
    }
    .container {
        h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            @media (max-width: 1024px) {
                font-size: 2rem;
            }
            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }
        p, .a {
            font-size: 1.5rem;
            @media (max-width: 1024px) {
                font-size: 1.3rem;
            }
        }
        .a {
            display: flex;
            justify-content: center;
            gap: .5rem;
            a {
                text-transform: uppercase;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}