.contact {
    padding: 8rem 0 0;
    .container {
        .contact-title, .message-title {
            text-align: center;
            margin: 0 0 2rem;
            text-transform: uppercase;
            h3 {
                @media (max-width: 600px) {
                    font-size: 1.2rem;
                }
            }
        }
        h1 {
            text-align: center;
            @media (max-width: 600px) {
                font-size: 1.8rem;
            }
        }
        .empty {
            color: black;
        }

        /* MARK: GRID
        */
        .contact-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            padding: 2rem 0;
            margin: 2rem 0 0;
            border-top: 2px solid #565a4d;
            border-bottom: 2px solid #565a4d;
            @media (max-width: 800px) {
                grid-template-columns: 1fr;
            }
            /* MARK: LEFT GRID
            - Contact person info */
            .contact-info {
                .contact-blocks {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    margin: 0 0 1rem;
                    .contact-wrapper {
                        width: 100%;
                        margin: 0 auto;
                        background-color: #ccd6bc;
                        border: 2px solid #565a4d;
                        padding: 1rem;
                        .contact-options {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            background: linear-gradient(
                                to bottom,
                                #f1deb1 0%, 
                                #f1e4c4 10%, 
                                #f8efd6 35%, 
                                #f8f0df 50%, 
                                #f8f5ee 70%, 
                                #ffffff 90%, 
                                #ffffff 100%
                            );
                            border: 1px solid #565a4d;
                            border-radius: 99% 1% 99% 1% / 5% 95% 5% 95%;
                            padding: 1rem;
                            /* MARK: Top fields
                            */
                            .contact-top {
                                margin: 0 0 1rem;

                                /* MARK: .name/.work_title
                                */
                                .name {
                                    text-align: center;
                                }
                                .work_title {
                                    color: #3f48cc;
                                    text-align: center;
                                }
                            }
                            /* MARK: Bottom fields
                            */
                            .contact-bottom {
                                display: flex;
                                justify-content: space-between;
                                @media (max-width: 450px) {
                                    display: block;
                                }
                                /* MARK: .phone/.email
                                */
                                .phone, .email {
                                    text-align: center;
                                    a {
                                        margin: 0 auto;
                                        color: #478f54;
                                        font-weight: 600;
                                        padding: .2rem 0;
                                        border-top: 1px solid transparent;
                                        border-bottom: 1px solid transparent;
                                    }
                                    a:hover {
                                        border-top: 1px solid #d5251e;
                                        border-bottom: 1px solid #d5251e;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            /* MARK: RIGHT GRID
            */
            .message-form {
                #new-message {
                    background-color: #ccd6bc;
                    border: 2px solid #565a4d;
                    padding: 1rem;
                    .new-message {
                        background: linear-gradient(
                            to bottom,
                            #f1deb1 0%, 
                            #f1e4c4 10%, 
                            #f8efd6 35%, 
                            #f8f0df 50%, 
                            #f8f5ee 70%, 
                            #ffffff 90%, 
                            #ffffff 100%
                        );
                        border: 1px solid #565a4d;
                        padding: 1rem;
                        position: relative;
                        .span {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            font-weight: 600;
                        }
                        /* MARK: Form
                        */
                        form {
                            label {
                                font-weight: 600;
                            }
                            /* MARK: Textarea, input
                            */
                            textarea, input {
                                font-size: 1rem;
                                padding: .5rem;
                                height: 100px;
                                border: 1px solid black;
                                margin: .5rem 0 0;
                                width: 100%;
                                resize: vertical;
                                @media (max-width: 768px) {
                                    margin: .2rem 0 0;
                                    font-size: .9rem;
                                }
                            }
                            .input {
                                position: relative;
                                /* MARK: Textarea pulltab
                                */
                                .pull-tab {
                                    height: 0px;
                                    width: 0px;
                                    border-top: 15px solid #478f54;
                                    border-left: 15px solid transparent;
                                    border-right: 15px solid transparent;
                                    transform: rotate(-45deg);
                                    position: absolute;
                                    bottom: 18px;
                                    right: -9px;
                                    pointer-events: none;
                                    z-index: 2;
                                }
                            }
                            input {
                                height: 30px;
                                width: 100%;
                            }
                            /* MARK: Specific divs
                            */
                            .message_div {
                                margin: 1rem 0;
                                @media (max-width: 768px) {
                                    margin: .5rem 0;
                                }
                            }
                            .message_msg {
                                margin: 1rem 0 0;
                                .input {
                                    #message_msg_feedback {
                                        color: grey;
                                        text-align: right;
                                    }
                                }
                            }
                            .message_contact {
                                text-align: center;
                                margin: 0 0 1rem;
                                select {
                                    width: 60%;
                                    text-align: center;
                                    font-size: 1rem;
                                    height: 30px;
                                    margin: .5rem auto 0;
                                }
                                /* box containing inputs for phone and email */
                                .box {
                                    display: none;
                                }
                            }
                        }
                        /* MARK: Button
                        */
                        .button {
                            button {
                                margin-top: .5rem;
                                padding: .5rem;
                                border-radius: 0;
                                color: white;
                                font-size: 1rem;
                                font-weight: 600;
                                background-color: #478f54;
                                border: none;
                                width: 100%;
                                cursor: pointer;
                            }
                            button:hover {
                                background-color: #008000;
                            }
                        }
                    }
                }
            }
        }
    }
}