* {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subhero {
    background-image: linear-gradient(
        to bottom,
        rgba(217, 168, 0, 1) 0%,
        rgba(217, 168, 0, .3) 5%,
        rgba(217, 168, 0, .1) 10%,
        rgba(217, 168, 0, 0) 15%),
        url('../../../Images/-Sub-Hero/background-paw.png'
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    
    .page-title {
        width: 100%;
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
        @media (max-height: 700px) {
            font-size: 2rem;
        }
        h1, h3 {
            text-shadow: 2px 2px 4px rgb(22, 22, 22);
        }
    }
}

.block {
    padding: 6rem 0;
}

.subheader {
    position: relative;
    .logged-in {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
        text-align: center;
        padding: 2rem;
        h3 {
            margin-bottom: 1rem;
        }
        // h2 {
    
        // }
    }
    .back {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(36,58,148, .6);
        width: fit-content;
        border-radius: 10px;
        border: 1px solid rgba(36,58,148, 1);
        margin: 1rem;
        a {
            padding: .5rem;
            color: white;
            font-weight: 600;
        }
    }
    .back:hover {
        background-color: rgba(36,58,148, 1);
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-height: 700px) {
        max-width: 900px;
    }
    @media (max-width: 768px) {
        width: 90%;
    }
}

button {
    margin-top: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    background-color: green;
    width: 100%;
    cursor: pointer;
}
button:hover {
    background-color: rgb(2, 95, 2);
}

#confirmation-user-delete, #confirmation-delete, #confirmation-update {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    display:none;
    border-radius: 25px;
    border: 4px solid rgb(255, 0, 0);
    height: 200px;
    width: 800px;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background-color:rgba(170, 0, 0, .6);
        h2 {
            font-size: 2rem;
            font-weight: 900;
        }
        .buttons {
            button {
                /* SET BACKGROUND COLOR ON UPDATE/DELETE CONFIRMATION BUTTONS */
                background-color: grey;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 1rem 3rem;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}