.extratwo {
    padding: 0;
    .container {
        /* if extra_visibility is set to 'yes' or 'choose' in db table */
        /* - add this class and show div */
        .displayblock {
            display: block;
        }
        /* if extra_visibility is set to 'no' in db table */
        /* - add this class and do not show div */
        .displaynone {
            display: none;
        }
        .extra-content {
            padding: 2rem 0;
            border-top: 2px dotted rgb(139, 129, 103);
            border-bottom: 2px dotted rgb(139, 129, 103);
            /* if extra_image is not inserted into db table */
            /* - add this class and display as block */
            .extra-image-nogrid {
                display: block;
            }
            /* if extra_image is inserted into db table */
            /* - add this class and display in grid */
            .extra-image-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                // RESPONSIVE
            }
            .extra-image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                @media (max-width: 900px) {
                    height: 400px;
                }
            }
        }
    }
}