.create-update_user {
    padding: 6rem 0 0;
    .container {
        /* MARK: error msg
        */
        .create-update_user-messages {
            width: 100%;
            .error {
                width: fit-content;
                margin: 0 auto 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .5rem 1rem;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                color: rgb(226, 3, 3);
                border: 1px solid rgb(226, 3, 3);
                .title {
                    font-size: 1.2rem;
                }
                .caption {
                    font-size: 1rem;
                }
                @media (max-width: 768px) {
                    font-weight: 300;
                }
            }
        }
        /* MARK: new pw/user
        */
        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            padding: 2rem 0;
            border-top: 1px solid #3f48cc;
            border-bottom: 1px solid #3f48cc;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            .change_password, .new_user {
                margin: 0 auto;
                width: fit-content;
                cursor: pointer;
                background-color: rgba(71,143,84, .8);
                width: fit-content;
                border-radius: 10px;
                border: 1px solid rgba(71,143,84, 1);
                #hide_password, #hide_new_user {
                    display:none;
                    padding: .5rem;
                    border-radius: 10px;
                    color: white;
                    font-weight: 600;
                    outline: 1px solid rgb(213,37,30);
                }
                #show_new_user, #show_password {
                    padding: .5rem;
                    color: white;
                    font-weight: 600;
                }
            }
            .change_password {
                background-color: rgba(217,168,0, .8);
                border: 1px solid rgba(217,168,0, 1);
            }
            .change_password:hover {
                background-color: rgba(217,168,0, 1);
            }
            .new_user:hover {
                background-color: rgba(71,143,84, 1);
            }
            /* MARK: FORMS
            */
            #change-password, #create-user {
                display: none;
                margin: 2rem auto 0;
                text-align: center;
                padding: 2rem;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                @media (max-width: 768px) {
                    padding: 1rem;
                }
                form {
                    outline: 1px dashed #478f54;
                    border-radius: 10px;
                    padding: 2rem;
                    position: relative;
                    @media (max-width: 768px) {
                        padding: 2rem 1rem 1rem;
                    }
                    .span {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-weight: 600;
                    }
                    h2 {
                        margin-bottom: 2rem;
                    }
                    .passwordform, .newuserform {
                        label {
                            font-weight: 600;
                        }
                        input {
                            margin: .5rem 0 1rem;
                            height: 30px;
                            border: 1px solid black;
                            border-radius: 5px;
                            text-align: center;
                        }
                        input[type="email"] {
                            width: 100%;
                        }
                    }
                    .passwordform {
                        input {
                            width: 70%;
                            @media (max-width: 768px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            #create-user {
                form {
                    .newuserform {
                        .bottom-fields {
                            display: flex;
                            gap: 2rem;
                            @media (max-width: 768px) {
                                display: block;
                            }
                            .name, .password {
                                width: 100%;
                                input {
                                    width: 100%;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}