.us {
    text-align: center;
    .container {
        h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            @media (max-width: 1024px) {
                font-size: 2rem;
            }
            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }
        p, .a {
            font-size: 1.5rem;
            @media (max-width: 1024px) {
                font-size: 1.3rem;
            }
        }
        .a {
            display: flex;
            justify-content: center;
            gap: .5rem;
            a {
                text-transform: uppercase;
                color: black;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}