.upload-image {
    padding-bottom: 0;
    .container {
        /* MARK: error msg
        */
        .upload-image-messages {
            width: 100%;
            .error {
                width: fit-content;
                margin: 0 auto 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .5rem 1rem;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                color: rgb(226, 3, 3);
                border: 1px solid rgb(226, 3, 3);
                .caption {
                    font-size: 1.2rem;
                }
                @media (max-width: 768px) {
                    font-weight: 300;
                }
            }
        }
        /* MARK: new img btn
        */
        .new_images {
            padding: 2rem 0;
            border-top: 1px solid #3f48cc;
            border-bottom: 1px solid #3f48cc;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            .add_image {
                margin: 0 auto;
                width: fit-content;
                cursor: pointer;
                background-color: rgba(71,143,84, .8);
                width: fit-content;
                border-radius: 10px;
                border: 1px solid rgba(71,143,84, 1);
                cursor: pointer;
                #hide_add_image {
                    display:none;
                    padding: .5rem 1rem;
                    border-radius: 10px;
                    color: white;
                    font-weight: 600;
                    outline: 1px solid rgb(213,37,30);
                }
                #show_add_image {
                    padding: .5rem 1rem;
                    color: white;
                    font-weight: 600;
                }
            }
            .add_image:hover {
                background-color: rgba(71,143,84, 1);
            }
            /* MARK: FORM
            */
            #insert-image {
                display: none;
                margin: 2rem auto 0;
                text-align: center;
                padding: 1rem;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                form {
                    outline: 1px dashed #478f54;
                    border-radius: 10px;
                    padding: 1rem;
                    position: relative;
                    h2 {
                        margin-bottom: 2rem;
                    }
                    .addimageform {
                        label {
                            font-weight: 600;
                        }
                        /* MARK: input
                        */
                        input {
                            margin: .5rem 0 1rem;
                            border: 1px solid black;
                            border-radius: 5px;
                            text-align: center;
                        }
                        /* MARK: input text
                        */
                        input[type="text"] {
                            font-size: .9rem;
                            height: 40px;
                            @media (max-width: 768px) {
                                font-size: .8rem;
                            }
                        }
                        /* MARK: input file
                        */
                        input[type="file"] {
                            text-align: center;
                            font-size: 1rem;
                            width: 100%;
                            @media (max-width: 768px) {
                                font-size: .8rem;
                            }
                        }
                        /* MARK: input file selector
                        */
                        input[type=file]::file-selector-button {
                            background-color: rgba(217, 168, 0, 1);
                            color: #000;
                            border: 0;
                            border-right: 1px solid #e5e5e5;
                            padding: 10px 20px;
                            margin-right: 10px;
                            cursor: pointer;
                            text-align: center;
                            @media (max-width: 550px) {
                                width: 25%;
                                padding: 10px 0;
                                margin: 0;
                            }
                        }
                        input[type=file]::file-selector-button:hover {
                            background-color: rgb(223, 138, 27);
                        }
                        .bottom-fields {
                            display: flex;
                            gap: 1rem;
                            @media (max-width: 1024px) and (max-height: 800px), (max-height: 800px), (max-width: 1024px) {
                                display: block;
                            }
                            /* MARK: img alt/text
                            */
                            .image_alt, .image_text {
                                width: 100%;
                                input {
                                    width: 100%;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}