.services {
    text-align: center;
    .container {
        .all-services {
            .form {
                .add_service {
                    margin: 0 auto 1rem;
                    width: fit-content;
                    cursor: pointer;
                    background-color: rgba(71,143,84, .8);
                    width: fit-content;
                    border-radius: 10px;
                    border: 1px solid rgba(71,143,84, 1);
                    cursor: pointer;
                    #hide_add_form {
                        display:none;
                        padding: .5rem 1rem;
                        border-radius: 10px;
                        color: white;
                        font-weight: 600;
                        outline: 1px solid rgb(213,37,30);
                    }
                    #show_add_form {
                        padding: .5rem 1rem;
                        color: white;
                        font-weight: 600;
                    }
                }
                .add_service:hover {
                    background-color: rgba(71,143,84, 1);
                }
                #alertMessage {
                    p {
                        margin: 1rem auto;
                        width: fit-content;
                        border-radius: 10px;
                        color: green;
                        border: 1px solid green;
                        font-weight: 600;
                        padding: 1rem 2rem;
                    }
                }
                #new_service {
                    display: none;
                    width: fit-content;
                    margin: 2rem auto;
                    .new_service {
                        margin-bottom: 1rem;
                        tr {
                            th {
                                font-size: 1.5rem;
                                font-weight: 600;
                            }
                            td {
                                
                            }
                            .service_description {
                                height: 2rem;
                            }
                        }
                    }
                }
            }
            h3 {
    
            }
            table {
                tr {
                    th {
    
                    }
                    td {
    
                    }
                    .buttons {
                        .update-service, .delete-service {
                            button {
                                margin: 0;
                                background-color: rgba(253, 156, 29, 1);
                                padding: .5rem;
                                border-radius: 10px;
                                border: 1px solid black;
                                color: white;
                                font-weight: 600;
                                cursor: pointer;
                            }
                            button:hover {
                                background-color: rgb(223, 138, 27);
                            }
                        }
                        .delete-service {
                            margin-top: .3rem;
                            button {
                                background-color: rgba(221, 0, 0, 1);
                            }
                            button:hover {
                                background-color: rgb(199, 3, 3);
                            }
                        }
                    }
                }
            }
        }
    }
}