.users {
    padding-top: 2rem;
    .all-users {
        .container {
            /* MARK: DISPLAY USERS
            */
            .display-users {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                @media (max-width: 1024px) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                }
                section {
                    padding: 1rem;
                    background-color: #ccd6bc;
                    border: 2px solid #565a4d;
                    /* MARK: General Styling
                    */
                    .user {
                        position: relative;
                        background: linear-gradient(
                            to bottom,
                            #f1deb1 0%, 
                            #f1e4c4 10%, 
                            #f8efd6 35%, 
                            #f8f0df 50%, 
                            #f8f5ee 70%, 
                            #ffffff 90%, 
                            #ffffff 100%
                        );
                        border: 1px solid #565a4d;
                        padding: 2rem 1rem 1rem;
                        /* MARK: NAME/USERNAME
                        */
                        h4 {
                            margin: 0 .3rem .5rem;
                            width: fit-content;
                        }
                        .line {
                            border-bottom: 4px solid #478f54;
                            padding-top: .5rem;
                            display: flex;
                            justify-content: space-between;
                            @media (max-width: 360px) {
                                display:block;
                                h4 {
                                    margin: 0 auto .3rem;
                                }
                            }
                        }
                        /* MARK: ID
                        */
                        .user_id {
                            display: flex;
                            position: absolute;
                            top:0;
                            left: 0;
                            border: none;
                            margin: .4rem .4rem 0;
                            padding: 0;
                            color: #478f54;
                            h4 {
                                margin: 0;
                            }
                        }
                        /* MARK: EMAIL
                        */
                        .user_email {
                            display: block;
                            h4 {
                                margin: 0 auto .3rem;
                            }
                        }
                        /* MARK: Delete BTN
                        */
                        .delete-user {
                            position: absolute;
                            top:0;
                            right: 0;
                            #delete-user {
                                background-color: rgb(221, 0, 0);
                                padding: .4rem 1.4rem;
                                border: none;
                                color: white;
                                font-weight: 600;
                                text-transform: uppercase;
                                font-size: .8rem;
                                border-radius: 0;
                                border-bottom-left-radius: 10px;
                                background-color: rgba(221, 0, 0, 1);
                                margin: 0;
                                cursor: pointer;
                            }
                            #delete-user:hover {
                                background-color: rgb(194, 3, 3);
                            }
                        }
                    }
                }
            }
        }
    }
}