.admin-contact {
    padding: 0 0 6rem;
    .container {
        .contact-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            .contact-info, .contact-phone {
                section {
                    margin: 1rem 0;
                    padding: 1.5rem;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px;
                    .contact-options, .time {
                        position: relative;
                        outline: 1px dashed #478f54;
                        border-radius: 10px;
                        padding: 1rem;
                        text-align: center;
                        .contact-box {
                            margin: 1rem 0 0;
                            width: 100%;
                            border-bottom: 1px solid black;
                        }
                        .contact_id, .openinghours_id {
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: flex;
                            margin: .5rem .5rem 0 0;
                            h4 {
                                border: none;
                            }
                        }
                        label {
                            font-weight: 600;
                        }
                        input {
                            font-size: 1rem;
                            width: 100%;
                            height: 40px;
                            margin: .3rem 0 0;
                            padding: .5rem;
                            border-style: hidden;
                            border-left: 1px solid rgb(212, 210, 210);
                            border-right: 1px solid rgb(212, 210, 210);
                        }
                        .day {
                            display: grid;
                            grid-template-columns: 30% 1fr;
                            width: 100%;
                            border-bottom: 1px solid black;
                            margin: .5rem 0 0;
                            padding: .5rem 0;
                            align-items: center;
                            @media (max-width: 900px) {
                                grid-template-columns: 1fr;
                                h4 {
                                    text-decoration: underline;
                                }
                            }
                            @media (max-width: 768px) {
                                grid-template-columns: 30% 1fr;
                                h4 {
                                    text-decoration: none;
                                }
                            }
                            @media (max-width: 470px) {
                                grid-template-columns: 1fr;
                                h4 {
                                    text-decoration: underline;
                                }
                            }
                            .input {
                                display: flex;
                                select {
                                    width: 100%;
                                    height: 30px;
                                    font-size: 1rem;
                                    text-align: center;
                                    border-style: hidden;
                                    border-left: 1px solid rgb(212, 210, 210);
                                    border-right: 1px solid rgb(212, 210, 210);
                                    .selected {
                                        color: grey;
                                    }
                                }
                            }
                        }

                    }
                    .update-delete-buttons {
                        display: flex;
                        border-bottom: 1px solid black;
                        border-radius: 10px;
                        .update-contact, .delete-contact, .update-openinghours, .delete-openinghours {
                            width: 100%;
                            button {
                                margin: 0;
                                background-color: rgba(253, 156, 29, 1);
                                padding: .5rem;
                                border-radius: 0;
                                border-bottom-left-radius: 10px;
                                color: white;
                                font-weight: 600;
                                cursor: pointer;
                            }
                            button:hover {
                                background-color: rgb(223, 138, 27);
                            }
                        }
                        .delete-contact, .delete-openinghours {
                            button {
                                border-radius: 0;
                                border-bottom-right-radius: 10px;
                                background-color: rgba(221, 0, 0, 1);
                            }
                            button:hover {
                                background-color: rgb(199, 3, 3);
                            }
                        }
                    }
                }
            }
        }
    }
}