.list {
    padding-top: 6rem;
    .container {
        h2 {
            text-align: center;
            margin: 0 0 2rem;
        }
        h4 {
            text-transform: uppercase;
        }
        .list-items {
            .ul {
                /* MARK: LIST ITEMS
                */
                .li {
                    position: relative;
                    background-color: #ccd6bc;
                    border: 2px solid #565a4d;
                    padding: 1rem;
                    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
                    /* MARK: Link
                    */
                    .list-link {
                        background: linear-gradient(
                            to bottom,
                            #f1deb1 0%, 
                            #f1e4c4 10%, 
                            #f8efd6 35%, 
                            #f8f0df 50%, 
                            #f8f5ee 70%, 
                            #ffffff 90%, 
                            #ffffff 100%
                        );
                        background-size:cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 1px solid #d5251e;
                        height: 100%;
                        border-radius: 97% 3% 97% 3% / 3% 97% 3% 97%;
                        a {
                            color: #3f48cc;
                            padding: 1rem;
                            .title {
                                font-size: 1.4rem;
                                text-align: center;
                                margin-bottom: 1rem;
                                @media (max-width: 768px) and (max-height: 800px), (max-width: 768px), (max-height: 800px) {
                                    font-size: 1.2rem;
                                }
                            }
                            hr {
                                border: 1px solid #478f54;
                            }
                            .todo {
                                margin: 2rem 0 0;
                                text-align: center;
                                font-size: 1rem;
                            }
                        }
                    }
                    .list-link:hover {
                        background-image: linear-gradient(
                            to bottom,
                            rgba(255, 255, 253, .5) 0%,
                            rgba(255, 255, 255, 0.5) 100%),
                            url('../../../../images/backgrounds/adminlistitems.jpg'
                        );
                    }
                }
                /* MARK: .private pages
                */
                .private {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;
                    padding: 0 0 2rem;
                    margin: 0 0 2rem;
                    border-bottom: 1px dotted #3f48cc;
                    @media (max-width: 450px) {
                        grid-template-columns: 1fr;
                        row-gap: 2rem;
                    }
                    .li {
                        min-height: 200px;
                        .list-link {
                            a {
                                padding: 2rem;
                                @media (max-width: 450px) {
                                    padding: 1rem;
                                }
                            }
                        }
                    }
                }
                /* MARK: .website pages
                */
                .website {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1rem;
                    padding: 0;
                    @media (max-width: 850px) {
                        grid-template-columns: 1fr 1fr;
                    }
                    @media (max-width: 450px) {
                        grid-template-columns: 1fr;
                        row-gap: 2rem;
                    }
                }
            }
        }
    }
}