.list {
    padding-top: 6rem;
    .container {
        h2 {
            text-align: center;
            margin: 0 0 2rem;
        }
        .list-items {
            .ul {
                .li {
                    position: relative;
                    background-size:cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    list-style: none;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                    a {
                        width: 90%;
                        margin: 0 auto;
                        color: rgba(36,58,148, 1);
                        padding: 1rem 0;
                        .title {
                            font-size: 1.6rem;
                            text-align: center;
                            margin-bottom: 1rem;
                            @media (max-height: 800px) {
                                font-size: 1.5rem;
                            }
                        }
                        .todo {
                            margin: 2rem 0 0;
                            text-align: center;
                            font-size: 1rem;
                        }
                    }
                }
                .li:hover {
                    background-image: linear-gradient(
                        to bottom,
                        rgba(255, 255, 253, .5) 0%,
                        rgba(255, 255, 255, 0.5) 100%),
                        url('../../../../Images/backgrounds/adminlistitems.jpg'
                    );
                }
                .private {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;
                    padding: 0 0 2rem;
                    margin: 0 0 2rem;
                    border-bottom: 1px dotted #3f48cc;
                    @media (max-width: 450px) {
                        grid-template-columns: 1fr;
                        row-gap: 2rem;
                    }
                    .li {
                        height: 200px;
                        @media (max-width: 450px) {
                            height: fit-content;
                        }
                        a {
                            padding: 2rem 0;
                            @media (max-width: 450px) {
                                padding: 1rem 0;
                            }
                        }
                    }
                }
                .website {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1rem;
                    padding: 0;
                    @media (max-width: 850px) {
                        grid-template-columns: 1fr 1fr;
                    }
                    @media (max-width: 450px) {
                        grid-template-columns: 1fr;
                        row-gap: 2rem;
                    }
                }
            }
        }
    }
}