.admin-inbox {
    padding: 6rem 0;
    .container {
        .inbox {
            h2 {
                text-align: center;
            margin: 0 0 2rem;
            text-transform: uppercase;
            }
            .inbox-messages {
                .message {
                    position: relative;
                    border: 1px dashed #478f54;
                    margin: 1rem 0;
                    border-radius: 10px;
                    .button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        button {
                            margin: 0;
                            padding: .2rem .5rem;
                            border: none;
                            border-radius: 0;
                            border-top-right-radius: 10px;
                            border-bottom-left-radius: 10px;
                            font-size: .8rem;
                            background-color: rgba(221, 0, 0, 1);
                        }
                        button:hover {
                            background-color: rgb(199, 3, 3);
                        }
                    }
                    .border-bottom {
                        border-bottom: 1px solid rgb(204, 204, 204);
                    }
                    h5 {
                        text-align: center;
                        padding: 0 0 .5rem;
                    }
                    h4 {
                        padding: .5rem 1rem 0;
                    }
                    .message-from {
                        display: grid;
                        grid-template-columns: 50px 1fr 300px auto;
                        border-radius: 10px;
                        padding: .5rem;
                        align-items: center;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                        cursor: pointer;
                        .message_id {
                            h4 {
                                text-align: center;
                                padding: .5rem 0 0;
                            }
                        }
                        .message_subject, .message_name {
                            border-left: 1px solid rgb(204, 204, 204);
                        }
                        #arrow_up, #arrow_down {
                            padding: .5rem;
                        }
                        #arrow_up {
                            display: none;
                        }
                    }
                    .message-from:hover {
                        background-color: rgb(245, 245, 245);
                    }
                    .message-msg {
                        display: none;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-top: 1px dashed #478f54;
                        background-color: rgba(71, 143, 84, .2);
                        h4 {
                            padding: 0;
                        }
                        .message-top {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            padding: .5rem;
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                            .how_to_contact, .message_phone, .message_email {
                                text-align: center;
                                a {
                                    margin: 0 auto;
                                }
                            }
                        }
                        .message-bottom {
                            .message_msg {
                                padding: 3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}