.admin-inbox {
    padding: 6rem 0;
    .container {
        .inbox {
            .inbox-messages {
                border: 1px dashed #478f54;
                margin: 1rem 0;
                
                .table {
                    .thead, .tbody {
                        display: grid;
                        grid-template-columns: 1fr 200px;
                        padding: 1rem;
                        border-bottom: 1px dashed #478f54;
                    }
                    .thead {
                        text-align: center;
                    }
                    .tbody {
                        cursor: pointer;
                        .td:last-of-type {
                            text-align: center;
                        }
                    }
                    .message-msg {
                        display: none;
                    }
                }


                section {
                    .message {
                        position: relative;
                        .border-bottom {
                            border-bottom: 1px solid rgb(204, 204, 204);
                        }
                        h5 {
                            text-align: center;
                            height: 25px;
                        }
                        h4 {
                            padding: .5rem 1rem 0;
                            @media (max-width: 767px) {
                                height: 50px;
                            }
                            @media (max-width: 450px) {
                                height: fit-content;
                                padding-bottom: .5rem;
                            }
                        }
                        .newmessage {
                            font-weight: 600;
                        }
                        .read {
                            font-weight: 300;
                        }
                        .message-from {
                            display: grid;
                            grid-template-columns: 1fr 300px auto;
                            padding: .5rem;
                            align-items: center;
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                            cursor: pointer;
                            @media (max-width: 800px) {
                                grid-template-columns: 1fr 1fr auto;
                            }
                            @media (max-width: 450px) {
                                position: relative;
                                grid-template-columns: 1fr 1fr;
                                .message_subject {
                                    grid-column: 1 / 3;
                                    grid-row: 1 / 2;
                                }
                                .message_name {
                                    grid-column: 1 / 3;
                                    grid-row: 2 / 3;
                                }
                                #arrow_up, #arrow_down {
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                }
                            }
                            .message_name {
                                border-left: 1px solid rgb(204, 204, 204);
                                @media (max-width: 450px) {
                                    border:none;
                                    border-top: 1px dashed #478f54;
                                    padding-top: .5rem;
                                }
                            }
                            #arrow_up, #arrow_down {
                                padding: .5rem;
                            }
                            #arrow_up {
                                display: none;
                            }
                        }
                        .message-from:hover {
                            background-color: rgb(245, 245, 245);
                        }
                        .message-msg {
                            display: none;
                            border-top: 1px dashed #478f54;
                            background-color: rgba(71, 143, 84, .2);
                            h4 {
                                padding: 0;
                            }
                            .message-top {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                padding: .5rem;
                                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                                .how_to_contact, .message_phone, .message_email {
                                    text-align: center;
                                    h4 {
                                        height: fit-content;
                                    }
                                    a {
                                        margin: 0 auto;
                                    }
                                }
                            }
                            .message-bottom {
                                .message_msg {
                                    padding: 3rem;
                                    height:  min-content;
                                    @media (max-width: 800px) {
                                        padding: 2rem;
                                    }
                                    @media (max-width: 450px) {
                                        padding: 1rem;
                                    }
                                }
                            }
                        }
                        .button {
                            position: absolute;
                            top: 0;
                            right: 0;
                            button {
                                margin: 0;
                                padding: .2rem .5rem;
                                border: none;
                                border-radius: 0;
                                border-top-right-radius: 10px;
                                border-bottom-left-radius: 10px;
                                font-size: .8rem;
                                background-color: rgba(221, 0, 0, 1);
                            }
                            button:hover {
                                background-color: rgb(199, 3, 3);
                            }
                        }
                    }
                }
            }
        }
    }
}