.header {
    height: fit-content;
    background-color: #d9a800;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2rem 0;
    z-index: 999;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .site-navigation {
            display: flex;
            .nav-items {
                display: flex;
                gap: 1rem;
                padding: 0;
                @media (max-height: 800px) {
                    gap: .5rem;
                }
                @media (max-width: 768px) {
                    display: none;
                }
                .login, .logout {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: .6rem;
                    a {
                        border:none;
                        text-shadow: none;
                        color:#997602;
                    }
                    a:hover {
                        border: none;
                    }
                }
                li {
                    list-style-type: none;
                    a {
                        text-decoration: none;
                        color: #fff;
                        text-shadow: 1px 1px 2px rgb(0, 13, 126);
                        font-weight: 600;
                        padding: .5rem 1rem;
                        border-top: 2px solid transparent;
                        border-bottom: 2px solid transparent;
                        @media (max-height: 800px) {
                            padding: .3rem .5rem;
                        }
                    }
                    a:hover {
                        border-top: 2px solid #d5251e;
                        border-bottom: 2px solid #d5251e;
                        cursor: pointer;
                    }
                }
            }
            .mobile-menu {
                #menu-btn {
                    display: none;
                    width: 45px;
                    height: 35px;
                    position: relative;
                    transform: rotate(0deg);
                    transition: .5s ease-in-out;
                    @media (max-width: 768px) {
                        display: block;
                    }
                    cursor: pointer;
                    span {
                        display: block;
                        position: absolute;
                        height: 5px;
                        width: 100%;
                        border-radius: 9px;
                        opacity: 1;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .25s ease-in-out;
                        &:nth-child(1) {
                            top: 0px;
                            background: #d5251e;
                        }    
                        &:nth-child(2),
                        &:nth-child(3) {
                            background: #3f48cc;
                            top: 15px;
                        }
                        &:nth-child(4) {
                            top: 30px;
                            background: #478f54;
                        }
                    }
                }
                #menu-btn.open {
                    span {
                        &:nth-child(1) {
                            top: 18px;
                            width: 0%;
                            left: 50%;
                        }
                        &:nth-child(2) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                        &:nth-child(4) {
                            top: 18px;
                            width: 0%;
                            left: 50%;
                        }
                    }
                }
                .menu-content {
                    display: none;
                    position: absolute;
                    top: 100px;
                    right: 0;
                    background-color: #d9a800;
                    padding: 4rem 0;
                    width: 100%;
                    .mobile-nav-items {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        gap: 1rem;
                        padding: 0 20px;
                        .login, .logout {
                            position: absolute;
                            top: 0;
                            left: 20px;
                            a {
                                font-size: .6rem;
                                border:none;
                                text-shadow: none;
                                color:#997602;
                            }
                            a:hover {
                                border: none;
                            }
                        }
                        li {
                            list-style-type: none;
                            a {
                                text-decoration: none;
                                color: #fff;
                                font-size: 2rem;
                                font-weight: 600;
                                padding: .5rem 0;
                                border-top: 2px solid transparent;
                                border-bottom: 2px solid transparent;
                            }
                            a:hover {
                                border-top: 2px solid #d5251e;
                                border-bottom: 2px solid #d5251e;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}