.footer {
    background-color: #d9a800;
    padding: 2rem;
    .container {
        /* MARK: LOGO
        */
        .logo {
            margin: 0 auto;
            .company {
                margin: 0 auto 2rem;
            }
        }
        hr {
            border: 1px solid #243a94;
        }
        /* MARK: CONTENT
        */
        .footer-content {
            display: grid;
            grid-template-columns: repeat(4, auto);
            justify-items: center;
            color: #fff;
            padding-top: 2rem;
            @media (max-width: 460px) {
                grid-template-columns: repeat(3, auto);
                row-gap: 1rem;
                .a-contact {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }
            }
            a {
                text-decoration: none;
                color: #fff;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}