.admin-gallery {
    padding-top: 0;
    .container {
        .images {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 1rem;
            margin: 2rem 0 0;
            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            .image-card {
                background-image: linear-gradient(
                    to bottom,
                    rgba(255, 255, 253, .9) 0%,
                    rgba(255, 255, 255, 0.9) 100%),
                    url('../../../../../Images/References/allepoter.png'
                );
                background-position: center;
                background-size: contain;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px;
                border-bottom: 1px solid black;
                border-top: 1px solid black;
                border-radius: 10px;
                height: 100%;
                position: relative;
                .image {
                    margin: 1rem;
                    height: 300px;
                    @media (max-width: 768px)  and (max-height: 800px), (max-width: 768px) {
                        height: 250px;
                    }
                    @media (max-width: 450px)  and (max-height: 800px), (max-width: 450px) {
                        height: 200px;
                    }
                    img {
                        object-fit: contain;
                        height: 100%;
                        width: 100%;
                    }
                }
                .text {
                    background-color: white;
                    padding: 1rem;
                    text-align: center;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    @media (max-width: 450px) {
                        padding: .8rem;
                    }
                    h3 {
                        @media (max-width: 450px) {
                            font-size: 1rem;
                            text-transform: capitalize;
                        }
                    }
                }
                .delete-image {
                    position: absolute;
                    top:0;
                    right: 0;
                    #delete-image {
                        border-radius: 0;
                        border-top-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        background-color: rgba(221, 0, 0, 1);
                        margin: 0;
                    }
                    #delete-image:hover {
                        background-color: rgb(199, 3, 3);
                    }
                }
            }
        }
    }
}