.services {
    .container {
        .empty {
            h1 {
                display: flex;
                justify-content: center;
                gap: .5rem;
                a {
                    color: #fff;
                    text-transform: uppercase;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
        .service-cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            @media (max-width: 850px) {
                grid-template-columns: 1fr;
            }
            .card {
                background-color: #b4bb9f;
                border: 2px solid #565a4d;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                min-height: 300px;
                padding: 1rem;
                .card-border {
                    background-color: #FFFFFF;
                    border: 1px solid #565a4d;
                    height: 100%;
                    .contact {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: .2rem .5rem;
                        font-size: 1rem;
                        color: white;
                        background-color: rgba(63, 72, 204, .6);
                        border-top-left-radius: 10px;
                    }
                    .contact:hover {
                        background-color: rgba(63, 72, 204, 1);
                    }
                    .title {
                        background: linear-gradient(
                            to bottom,
                            #f1deb1 0%, 
                            #f1e4c4 10%, 
                            #f8efd6 35%, 
                            #f8f0df 50%, 
                            #f8f5ee 70%, 
                            #ffffff 90%, 
                            #ffffff 100%
                        );
                        padding: 1rem;
                        text-align: center;
                        border-bottom: 1px solid #565a4d;
                        h2 {
                            text-transform: uppercase;
                            @media (max-width: 768px) {
                                font-size: 1.4rem;
                            }
                        }
                    }
                    .description {
                        padding: 0 1rem;
                        font-size: 1.1rem;
                        @media (max-width: 768px) {
                            font-size: 1rem;
                        }
                        p {
                            margin: 1rem 0;
                        }
                        .important_note {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}