.services {
    .container {
        .empty {
            h1 {
                display: flex;
                justify-content: center;
                gap: .5rem;
                a {
                    color: #fff;
                    text-transform: uppercase;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
        .service-cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            @media (max-width: 850px) {
                grid-template-columns: 1fr;
            }
            .card {
                background-image: linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0.4) 0%,
                    rgba(255, 255, 255, 0.4) 100%),
                    url('../../../../Images/backgrounds/servicesbackground.png'
                );
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                border-radius: 10px;
                border-bottom: 2px solid #d5251e;
                border-top: 2px solid #d5251e;
                min-height: 300px;
                padding: 2rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px;
                @media (max-width: 768px) {
                    padding: 1rem;
                }
                .contact {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: .2rem .5rem;
                    font-size: 1rem;
                    color: white;
                    background-color: rgba(63, 72, 204, .6);
                    border-top-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                .contact:hover {
                    background-color: rgba(63, 72, 204, 1);
                }
                .title {
                    text-align: center;
                    h2 {
                        text-transform: uppercase;
                        @media (max-width: 768px) {
                            font-size: 1.4rem;
                        }
                    }
                }
                hr {
                    margin: 1rem 0;
                    border: 1px solid #d5251e;
                }
                .description {
                    font-size: 1.1rem;
                    @media (max-width: 768px) {
                        font-size: 1rem;
                    }
                    p {
                        margin: 1rem 0;
                    }
                    .important_note {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}