.services {
    .container {
        .all-services {
            h1 {

            }
            .service-cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                .card {
                    position: relative;
                    background-image: linear-gradient(
                        to bottom,
                        rgba(255, 255, 253, .9) 0%,
                        rgba(255, 255, 255, 0.9) 100%),
                        url('../../../../../Images/References/allepoter.png'
                    );
                    border-radius: 10px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    min-height: 300px;
                    padding: 2rem;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px;
                    .contact {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: .5rem;
                        font-size: 1rem;
                        color: #3f48cc;
                    }
                    .contact:hover {
                        color: #478f54;
                    }
                    .title {
                        text-align: center;
                        h2 {
                            text-transform: uppercase;
                        }
                    }
                    hr {
                        margin: 1rem 0;
                        border: 1px solid rgba(36, 58, 148, 1);
                    }
                    .description {
                        p {
                            margin: 1rem 0;
                        }
                        .important_note {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}