#erroralert, #successalert {
    display: none;
    background-color: #fff;
    color: green;
    border: 1px solid green;
    text-align: center;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px;
}

#erroralert {
    color: red;
    border: 1px solid red;
    button {
        background-color: red;
    }
}