.end {
    background: linear-gradient(
        to bottom,
        rgba(213, 37, 30, 1) 0%,
        rgba(213, 37, 30, .8) 3%,
        rgba(213, 37, 30, .6) 6%,
        rgba(213, 37, 30, .4) 9%,
        rgba(213, 37, 30, .2) 12%,
        rgba(255, 255, 255, .9) 15%,
        rgba(255, 255, 255, .9) 85%,
        rgba(213, 37, 30, .2) 88%,
        rgba(213, 37, 30, .4) 91%,
        rgba(213, 37, 30, .6) 94%,
        rgba(213, 37, 30, .8) 97%,
        rgba(213, 37, 30, 1) 100%),
        url('../../../../Images/backgrounds/allpaws1.png'
    );
    color: rgba(213, 37, 30, 1);
    text-align: center;
    padding: 3rem 0;
    text-shadow: 1px 1px 1px rgb(32, 32, 32);
    @media (max-height: 800px) {
        padding: 4rem 0;
    }
    .container {
        h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            @media (max-width: 1024px) {
                font-size: 2rem;
            }
            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }
        h2, .a {
            font-size: 1.5rem;
            @media (max-width: 1024px) {
                font-size: 1.3rem;
            }
        }
        .a {
            display: flex;
            justify-content: center;
            gap: .5rem;
            a {
                text-transform: uppercase;
                color: rgba(213, 37, 30, 1);
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}