.end {
    position: relative;
    background-color: #b4bb9f;
    border: 2px solid #565a4d;
    padding: 1rem;
    /* MARK: IMG BORDER
    */
    .flowertop {
        background-image: url('../../../../images/borders/pinkflowersbordertop.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: -35px;
        height: 100px;
        width: 100%;
        @media (max-width: 1024px) {
            top: -40px;
            height: 90px;
        }
        @media (max-width: 768px) {
            top: -30px;
            height: 80px;
        }
    }
    .extra-border {
        background: linear-gradient(
            to bottom,
            #f1deb1 0%, 
            #f1e4c4 10%, 
            #f8efd6 35%, 
            #f8f0df 50%, 
            #f8f5ee 70%, 
            #ffffff 90%, 
            #ffffff 100%
        );
        border: 1px solid #565a4d;
            .container {
                /* MARK: Content
                */
                .end-content {
                    padding: 3rem 0 2rem;
                    text-align: center;
                    h2 {
                        color: rgba(213, 37, 30, 1);
                        margin: 0 0 1rem;
                    }
                    .end-text {
                        margin: 1rem 0;
                    }
                    a {
                        margin: 0 auto;
                        color: rgba(213, 37, 30, 1);
                        text-transform: uppercase;
                    }
                }
            }
    }
}