.admin-extra-add {
    /* remove padding form this .block */
    padding-bottom: 0;

    /* MARK: MESSAGES
    - if there is an error when uploading new white/blue block */
    .upload-extra-messages {
        width: 100%;
        .error {
            width: fit-content;
            margin: 0 auto 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: .5rem 1rem;
            border-radius: 10px;
            box-shadow: #0000001a 0px 0px 50px 10px;
            color: #e20303;
            border: 1px solid #e20303;
            .blockwhite, .blockblue, .caption {
                font-size: 1.2rem;
            }
            @media (max-width: 768px) {
                font-weight: 300;
            }
        }
    }

    /* MARK: ADD BUTTONS
    */
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 2rem 0;
        border-top: 1px solid #3f48cc;
        border-bottom: 1px solid #3f48cc;
        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
        .admin-white-add, .admin-blue-add {
            .add_white, .add_blue {
                margin: 0 auto;
                width: fit-content;
                cursor: pointer;
                background-color: #478f54cc;
                width: fit-content;
                border-radius: 10px;
                border: 1px solid #478f54;
                cursor: pointer;
                #hide_add_white, #hide_add_blue {
                    display:none;
                    padding: .5rem 1rem;
                    border-radius: 10px;
                    color: white;
                    font-weight: 600;
                    outline: 1px solid #d5251e;
                }
                #show_add_white, #show_add_blue {
                    padding: .5rem 1rem;
                    color: white;
                    font-weight: 600;
                }
            }
            .add_white:hover, .add_blue:hover {
                background-color: #478f54;
            }

            /* MARK: ADD FORMS
            */
            #new_white, #new_blue  {
                display: none;
                margin: 2rem auto 0;
                padding: 1rem;
                border-radius: 10px;
                box-shadow: #0000001a 0px 0px 50px 10px;
                .new_white, .new_blue {
                    outline: 1px dashed #478f54;
                    border-radius: 10px;
                    padding: 1rem;
                    position: relative;
                    @media (max-width: 768px) {
                        padding: 2rem 1rem 1rem;
                    }
                    h2 {
                        text-align: center;
                        @media (max-width: 768px) {
                            font-size: 1.3rem;
                        }
                    }

                    /* text under h2 to explain where this block is shown on the front page */
                    .position {
                        margin-bottom: 2rem;
                        text-align: center;
                    }

                    form {
                        text-align: center;
                        /* MARK: GENERAL
                        */
                        label {
                            font-weight: 600;
                        }
                        input, select {
                            margin: .2rem 0 1rem;
                            border: 1px solid black;
                            border-radius: 5px;
                            text-align: center;
                            width: 100%;
                            height: 40px;
                        }
                        textarea {
                            font-size: 1rem;
                            padding: .5rem;
                            min-width: 100%;
                            resize: vertical;
                            min-height: min-content;
                            height: 110px;
                            border-style: hidden;
                            border: 1px solid #000000;
                            @media (max-width: 450px) {
                                font-size: .8rem;
                            }
                            @media (max-width: 350px) {
                                height: 100px;
                            }
                        }
                        input[type="text"] {
                            font-size: 1rem;
                            height: 40px;
                            @media (max-width: 768px) {
                                font-size: .8rem;
                            }
                        }
                        input[type="file"] {
                            text-align: center;
                            font-size: 1rem;
                            width: 100%;
                            @media (max-width: 768px) {
                                font-size: .8rem;
                                height: 35px;
                            }
                        }
                        input[type=file]::file-selector-button {
                            background-color: rgba(217, 168, 0, 1);
                            color: #000;
                            border: 0;
                            border-right: 1px solid #e5e5e5;
                            padding: 10px 20px;
                            margin-right: 10px;
                            cursor: pointer;
                            text-align: center;
                            @media (max-width: 550px) {
                                width: 25%;
                                padding: 10px 0;
                                margin: 0;
                            }
                        }
                        input[type=file]::file-selector-button:hover {
                            background-color: rgb(223, 138, 27);
                        }

                        /* MARK: SPECIFIC DIVS
                        */
                        .flex-titles, .flex-link {
                            display: flex;
                            gap: 1rem;
                            .extra-title, .extra-subtitle, .extra-text_link, .extra-link_url {
                                width: 100%;
                            }
                            @media (max-width: 768px) {
                                display: block;
                            }
                        }
                        .extra-text_one, .extra-text_two, .extra-text_three {
                            .input {
                                position: relative;
                                margin-bottom: .3rem;
                                .pull-tab {
                                    height: 0px;
                                    width: 0px;
                                    border-top: 15px solid #478f54;
                                    border-left: 15px solid transparent;
                                    border-right: 15px solid transparent;
                                    transform: rotate(-45deg);
                                    position: absolute;
                                    bottom: -2px;
                                    right: -9px;
                                    pointer-events: none;
                                    z-index: 2;
                                }
                            }
                        }
                        .extra-text_three {
                            margin: 0 0 1rem;
                        }
                    }
                }
            }
        }
    }
}