.admin-extra-add {
    padding-bottom: 0;
    .upload-extra-messages {
        width: 100%;
        .error {
            width: fit-content;
            margin: 0 auto 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: .5rem 1rem;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
            color: rgb(226, 3, 3);
            border: 1px solid rgb(226, 3, 3);
            .blockextraone, .blockextratwo, .caption {
                font-size: 1.2rem;
            }
            @media (max-width: 768px) {
                font-weight: 300;
            }
        }
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 2rem 0;
        border-top: 1px solid #3f48cc;
        border-bottom: 1px solid #3f48cc;
        .one, .two {
            .add_extraone, .add_extratwo {
                margin: 0 auto;
                width: fit-content;
                cursor: pointer;
                background-color: rgba(71, 143, 84, .8);
                width: fit-content;
                border-radius: 10px;
                border: 1px solid rgba(71, 143, 84, 1);
                cursor: pointer;
                #hide_add_extraone, #hide_add_extratwo {
                    display:none;
                    padding: .5rem 1rem;
                    border-radius: 10px;
                    color: white;
                    font-weight: 600;
                    outline: 1px solid rgb(213,37,30);
                }
                #show_add_extraone, #show_add_extratwo {
                    padding: .5rem 1rem;
                    color: white;
                    font-weight: 600;
                }
            }
            .add_extraone:hover, .add_extratwo:hover {
                background-color: rgba(71,143,84, 1);
            }
            #new_extraone, #new_extratwo  {
                display: none;
                margin: 2rem auto 0;
                padding: 2rem;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 10px;
                @media (max-width: 768px) {
                    padding: 1rem;
                }
                .new_extraone, .new_extratwo {
                    outline: 1px dashed #478f54;
                    border-radius: 10px;
                    padding: 2rem;
                    position: relative;
                    @media (max-width: 768px) {
                        padding: 2rem 1rem 1rem;
                    }
                    h2 {
                        text-align: center;
                        @media (max-width: 768px) {
                            font-size: 1.3rem;
                        }
                    }
                    .position {
                        margin-bottom: 2rem;
                        text-align: center;
                    }
                    form {
                        text-align: center;
                        label {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}