.block-admin-extraone, .block-admin-extratwo {
    padding: 0;
    .one, .two {
        padding: 1rem 0;
        border: none;
        border-bottom: 1px solid #3f48cc;
        .one-button, .two-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .admin_extraone, .admin_extratwo {
            background-color: rgba(217, 168, 0, .8);
            width: fit-content;
            border-radius: 10px;
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;
            #show_admin_extraone, #show_admin_extratwo {
                display:none;
                color: #478f54;
                padding: .3rem .5rem;
                border-radius: 10px;
                border: 1px solid rgba(71, 143, 84, 1);
            }
            #hide_admin_extraone, #hide_admin_extratwo {
                border-radius: 10px;
                color: #d5251e;
                padding: .3rem .5rem;
                border: 1px solid rgb(213,37,30);
            }
        }
        .admin_extraone:hover, .admin_extratwo:hover {
            background-color: rgba(217, 168, 0, 1);
        }
        .admin-extraone, .admin-extratwo {
            .admin-titles {
                margin-bottom: 0;
            }
            .position {
                margin: 1rem 0 2rem;
                text-align: center;
            }
            section {
                margin: 1rem 0;
                padding: 1.5rem;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px;
                .admin-extraone-content, .admin-extratwo-content {
                    position: relative;
                    outline: 1px dashed #478f54;
                    border-radius: 10px;
                    padding: 1.5rem 1rem 1rem;
                    text-align: center;
                    .extra_id {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        margin: .2rem 0 0 .5rem;
                        h4 {
                            border: none;
                        }
                    }
                    .extra-visibility {
                        border-top: 1px solid black;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                    .green-border-bottom {
                        border-bottom: 4px solid rgb(2, 95, 2);
                    }
                    .border-bottom {
                        border-bottom: 1px solid black;
                    }
                    .border-left {
                        border-left: 1px solid rgb(212, 210, 210);
                    }
                    .border-right {
                        border-right: 1px solid rgb(212, 210, 210);
                    }
                    .padding-top {
                        padding-top: .5rem;
                    }
                    .extraone-top, .extratwo-top {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        .extraone-left, .extratwo-left {
                            border-right: 1px solid black;
                        }
                        .extraone-left, .extraone-right, .extratwo-left, .extratwo-right {
                            display: grid;
                            grid-template-rows: 150px 150px 150px;
                            .extra-image {
                                grid-row: 1 / 3;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            textarea {
                                font-size: 1rem;
                                padding: .5rem;
                                width: 100%;
                                height: 85%;
                                border-style: hidden;
                                border-top: 1px solid rgb(212, 210, 210);
                                @media (max-width: 450px) {
                                    font-size: .8rem;
                                    text-indent: 5px;
                                }
                            }
                        }
                    }
                    .extraone-bottom, .extratwo-bottom {
                        .extra_link_div {
                            display: flex;
                            @media (max-width: 950px) {
                                flex-direction: column;
                                .extra-text_link {
                                    border-bottom: 1px solid black;
                                }
                                .extra-link_text {
                                    padding-top: .5rem;
                                }
                            }
                            .extra-text_link, .extra-link_text {
                                width: 100%;
                                input {
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .extra-visibility, .extra-link_url {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                        @media (max-width: 950px) {
                            grid-template-columns: none;
                            grid-template-rows: auto auto;
                            text-align: center;
                        }
                        select {
                            width: 100%;
                            height: 30px;
                            font-size: 1rem;
                            text-align: center;
                            border-style: hidden;
                            border-left: 1px solid rgb(212, 210, 210);
                        }
                    }
                    label {
                        font-weight: 600;
                    }
                    input {
                        font-size: 1rem;
                        width: 100%;
                        height: 40px;
                        padding: .5rem;
                        border-style: hidden;
                        border-top: 1px solid rgb(212, 210, 210);
                    }
                }
                .update-delete-buttons {
                    display: flex;
                    border-bottom: 1px solid black;
                    border-radius: 10px;
                    .update-extraone, .delete-extraone, .update-extratwo, .delete-extratwo {
                        width: 100%;
                        button {
                            margin: 0;
                            background-color: rgba(253, 156, 29, 1);
                            padding: .5rem;
                            border-radius: 0;
                            border-bottom-left-radius: 10px;
                            color: white;
                            font-weight: 600;
                            cursor: pointer;
                        }
                        button:hover {
                            background-color: rgb(223, 138, 27);
                        }
                    }
                    .delete-extraone, .delete-extratwo {
                        button {
                            border-radius: 0;
                            border-bottom-right-radius: 10px;
                            background-color: rgba(221, 0, 0, 1);
                        }
                        button:hover {
                            background-color: rgb(199, 3, 3);
                        }
                    }
                }
            }
        }
    }
    .one {
        border-top: 1px solid #3f48cc;
    }
}
.block-admin-extratwo {
    padding: 0 0 6rem;
}