.service-slider {
    background-color: #478f54;
        .container {
            .top {
                display: flex;
                justify-content: space-between;
                padding: 0 0 2rem 0;
                .title {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    color: #fff;
                    font-size: 1.5rem;
                    @media (max-width: 768px) {
                        justify-content: space-between;
                        width: 100%;
                    }
                    a {
                        color: #3f48cc;
                        text-decoration: none;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
                .arrows {
                    display: flex;
					gap: 10px;
                    @media (max-width: 768px) {
                        display: none;
                    }
                    button:first-of-type {
                        padding-right: 10px;
                    }
                    button:last-of-type {
                        padding-left: 10px;
                    }
                    button {
                        border: 1px solid #3a7545;
                        background-color: rgba(63, 72, 204, .3);
                        color: #3f48cc;
                        font-size: 1em;
                        font-weight: 200;
                        cursor: pointer;
                        border-radius: 50%;
                        width: 35px;
                        aspect-ratio: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .slider {
                margin: auto;
                .slide {
                    background-color: #f0f0f0;
                    padding: 20px;
                    text-align: center;
                    .overlay {

                    }
                    .link {
                        i {

                        }
                        a {

                        }
                    }
                    .service-content {
                        .icon {
                        
                        }
                        .text {
                            h3 {

                            }
                            p {

                            }
                        }
                    }
                }
            }
			
        }
}