.admin-services {
    padding-top: 6rem;
    .container {
        .all-services {
            .form {
                padding: 2rem 0;
                border-top: 1px solid #3f48cc;
                border-bottom: 1px solid #3f48cc;
                .add_service {
                    margin: 0 auto;
                    background-color: #478f54cc;
                    width: fit-content;
                    border-radius: 10px;
                    border: 1px solid #478f54;
                    cursor: pointer;
                    #hide_add_form {
                        display:none;
                        padding: .5rem 1rem;
                        border-radius: 10px;
                        color: white;
                        font-weight: 600;
                        outline: 1px solid #d5251e;
                    }
                    #show_add_form {
                        padding: .5rem 1rem;
                        color: #ffffff;
                        font-weight: 600;
                    }
                }
                .add_service:hover {
                    background-color: #478f54;
                }
                #new_service {
                    display: none;
                    margin-top: 2rem;
                    padding: 2rem;
                    border-radius: 10px;
                    box-shadow: #0000001a 0px 0px 50px 10px;
                    @media (max-width: 768px) {
                        padding: 1rem;
                    }
                    .new_service {
                        outline: 1px dashed #478f54;
                        border-radius: 10px;
                        padding: 2rem;
                        position: relative;
                        @media (max-width: 768px) {
                            padding: 2rem 1rem 1rem;
                        }
                        h2 {
                            text-align: center;
                            margin-bottom: 2rem;
                        }
                        form {
                            label {
                                font-weight: 600;
                                @media (max-width: 450px) {
                                    font-size: 1rem;
                                }
                            }
                            textarea::placeholder {
                                text-align: center;
                            }
                            textarea, input {
                                font-size: 1rem;
                                padding: .5rem;
                                height: 55px;
                                border: 1px solid #000000;
                                border-radius: 5px;
                                margin: .5rem 0;
                                width: 100%;
                                text-indent: 10px;
                                @media (max-width: 450px) {
                                    font-size: .8rem;
                                    text-indent: 5px;
                                }
                            }
                            input {
                                @media (max-width: 800px) {
                                    height: 40px;
                                }
                            }
                            .top {
                                display: flex;
                                gap: 1rem;
                                @media (max-width: 800px) {
                                    flex-direction: column;
                                    text-align: center;
                                    gap: .5rem;
                                    textarea::placeholder {
                                        text-align: left;
                                    }
                                }
                                .name, .short_description, .notes {
                                    width: 100%;
                                }
                            }
                            .descriptions {
                                margin-top: 1rem;
                                @media (max-width: 800px) {
                                    .input {
                                        textarea {
                                            height: 70px;
                                        }
                                    }
                                }
                                @media (max-width: 450px) {
                                    p {
                                        font-size: .8rem;
                                    }
                                }
                                #service_description {
                                    position: relative;
                                    .star {
                                        position: absolute;
                                        width: 10px;
                                        top: .5rem;
                                        left: 2px;
                                        color: #ff0000;
                                        font-weight: 900;
                                    }
                                }
                                textarea::placeholder {
                                    text-align: left;
                                }    
                            }
                        }
                    }
                }
            }
            .table {
                .display-service {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1rem;
                    @media (max-width: 850px) {
                        grid-template-columns: 1fr;
                    }
                    section {
                        padding: 1rem;
                        border-radius: 10px;
                        box-shadow: #0000001a 0px 0px 10px 5px;
                        .textareas {
                            position: relative;
                            outline: 1px dashed #478f54;
                            border-radius: 10px;
                            padding: 1.5rem 1rem 1rem;
                            h4 {
                                margin: 0 auto .3rem;
                                width: fit-content;
                                border-bottom: 1px solid #000000;
                            }
                            .line {
                                border-bottom: 4px solid #025f02;
                                padding-top: .5rem;
                            }
                            .service_id {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: flex;
                                margin: .2rem 0 0 .5rem;
                                h4 {
                                    border: none;
                                }
                            }
                            .service_name {
                                border-top: 1px solid #000000;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                                width: 100%;
                                #service_name {
                                    text-align: center;
                                    text-transform: capitalize;
                                    font-size: 1.5rem;
                                }
                            }
                            textarea {
                                font-size: 1rem;
                                padding: .5rem;
                                width: 100%;
                                height: 80px;
                                border-top: none;
                                border-bottom: none;
                            }
                            .buttons {
                                display: flex;
                                border-bottom: 1px solid #000000;
                                border-radius: 10px;
                                .update-service, .delete-service {
                                    width: 100%;
                                    button {
                                        margin: 0;
                                        background-color: #fd9c1d;
                                        padding: .5rem;
                                        border-radius: 0;
                                        border-bottom-left-radius: 10px;
                                        color: #ffffff;
                                        font-weight: 600;
                                        cursor: pointer;
                                    }
                                    button:hover {
                                        background-color: #df8a1b;
                                    }
                                }
                                .delete-service {
                                    button {
                                        border-radius: 0;
                                        border-bottom-right-radius: 10px;
                                        background-color: #dd0000;
                                    }
                                    button:hover {
                                        background-color: #c70303;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}