.services {
    .container {
        text-align: center;
        .all-services {
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            table {
                margin: 0 auto;
                th, td {
                    padding: 1rem;
                }
                .service_id {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
}