.openinghours {
    padding: 0;
    .container {
        .phone-title {
            text-align: center;
            margin: 0 0 2rem;
            text-transform: uppercase;
            h3 {
                @media (max-width: 600px) {
                    font-size: 1.2rem;
                }
            }
        }
        h1 {
            text-align: center;
            @media (max-width: 600px) {
                font-size: 1.8rem;
            }
        }
        .empty {
            color: black;
        }

        .contact-phone {
            padding: 2rem 0;
            border-bottom: 2px solid #565a4d;
            .phone-time {
                margin: 1rem 0 0;
                background-color: #ccd6bc;
                border: 2px solid #565a4d;
                padding: 1rem;
                /* MARK: VACATION
                */
                .vacation {
                    text-align: center;
                    margin: 0 0 1rem;
                    text-transform: uppercase;
                }
                /* MARK: TIME
                */
                .time {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    gap: 1rem;
                    text-align: center;
                    @media (max-width: 1024px) {
                        grid-template-columns: repeat(4, 1fr);
                        /* MARK: DAY 1024PX
                        */
                        .day:nth-of-type(5) {
                            display: flex;
                            gap: 2rem;
                            justify-content: center;
                            grid-column: 2/4;
                            grid-row: 2/3;
                        }
                        .day:nth-of-type(6) {
                            display: flex;
                            gap: 2rem;
                            justify-content: center;
                            grid-column: 1/3;
                            grid-row: 3/4;
                        }
                        .day:nth-of-type(7) {
                            display: flex;
                            gap: 2rem;
                            justify-content: center;
                            grid-column: 3/5;
                            grid-row: 3/4;
                        }
                    }
                    @media (max-width: 550px) {
                        grid-template-columns: repeat(2, 1fr);
                        /* MARK: DAY 550PX
                        */
                        .day {
                            padding: 0;
                        }
                        .day:nth-of-type(4) {
                            display: block;
                            grid-column: 2/3;
                            grid-row: 2/3;
                        }
                        .day:nth-of-type(5) {
                            display: flex;
                            gap: 1rem;
                            justify-content: center;
                            grid-column: 1/3;
                            grid-row: 3/4;
                        }
                        .day:nth-of-type(6) {
                            display: flex;
                            gap: 1rem;
                            justify-content: center;
                            grid-column: 1/2;
                            grid-row: 4/5;
                        }
                        .day:nth-of-type(7) {
                            display: flex;
                            gap: .5rem;
                            justify-content: center;
                            grid-column: 2/3;
                            grid-row: 4/5;
                        }
                    }
                    @media (max-width: 420px) {
                        grid-template-columns: 1fr;
                        /* MARK: DAY 420PX
                        */
                        .day {
                            display: flex;
                            gap: 1rem;
                            justify-content: center;
                            align-items: center;
                        }
                        .day:nth-of-type(4) {
                            display: flex;
                            gap: 1rem;
                            justify-content: center;
                            grid-column: 1/2;
                            grid-row: 4/5;
                        }
                        .day:nth-of-type(5) {
                            display: flex;
                            gap: 1rem;
                            justify-content: center;
                            grid-column: 1/2;
                            grid-row: 5/6;
                        }
                        .day:nth-of-type(6) {
                            display: flex;
                            gap: 1rem;
                            justify-content: center;
                            grid-column: 1/2;
                            grid-row: 6/7;
                        }
                        .day:nth-of-type(7) {
                            display: flex;
                            gap: .5rem;
                            justify-content: center;
                            grid-column: 1/2;
                            grid-row: 7/8;
                        }
                    }
                    /* MARK: DAY
                    */
                    .day {
                        background: linear-gradient(
                            to bottom,
                            #f1deb1 0%, 
                            #f1e4c4 10%, 
                            #f8efd6 35%, 
                            #f8f0df 50%, 
                            #f8f5ee 70%, 
                            #ffffff 90%, 
                            #ffffff 100%
                        );
                        border: 1px solid #565a4d;
                        border-radius: 3% 97% 3% 97%/97% 3% 97% 3%;
                        padding: .5rem;
                        span {
                            color: black;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}