a {
    text-decoration: none;
    display: block;
    width: fit-content;
    .company {
        display: flex;
        align-items: center;
        gap: 1rem;
        /* MARK: Logo Image
        */
        .logo {
            height: 50px;
            @media (max-width: 1024px) {
                height: 40px;
            }
            img {
                height: 100%;
            }
        }
        /* MARK: Logo Text
        */
        .title {
            h2 {
                color: #fff;
                text-shadow: 2px 2px 4px rgb(22, 22, 22);
                @media (max-width: 850px) {
                    display: flex;
                    flex-direction: column;
                }
                span {
                    color: #fff;
                }
            }
        }
    }
}